body{
    margin: 0px;
    background-image: url(graffiti.jpg);
}

#imgLogo{
    width: auto;
    max-width: 140px;
}

#hdrRegistro{
    background-color: black;
    padding-left: 30px;
}

#colRegistro{
    background-color: white;
}

#sectionPrincipal{
    margin-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
}

label{
    font-size: 1.5rem;
    
}

h1{
    font-size: 3rem;
}